
body {background: #00b3e6;
}


div {width: 700px;
  margin: auto;
  font-family:Helvetica Neue;
  background-color: white;
  padding: 30px;
}

#main-header { font-size: 22px;
  /* Your code here! */
  color: red;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {font-style: italic;
  /* Your code here! */
}
